.header {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-left: 0.2rem;
  background: rgb(156, 63, 130);
  background: radial-gradient(
    circle,
    rgba(156, 63, 130, 1) 0%,
    rgba(125, 58, 148, 1) 100%
  );
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__characters-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  max-width: 800px;
  height: 100%;
}

.character-wrapper__character-name_header {
  font-size: clamp(10px, 1.7vw, 1.5rem);
  color: var(--water-blue);
  text-shadow: var(--para-text-shadow);
}

.character-wrapper__header-mask-img {
  width: clamp(2rem, 5vw, 3.5rem);
  margin: auto;
}
